@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('./assets/bg-img.jpg');
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

.mean {
  padding: 0 20px;
  width: 100%;
  display: flex;

  margin-top: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.title {
  font-size: 76px;
  margin-bottom: 40px;
}
.title_little {
  text-align: center;
}
.rules {
  max-width: 900px;
  margin-top: 40px;
  padding: 40px;

  border-radius: 20px;

  -webkit-backdrop-filter: blur(5px);
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(5px);
}
.rules h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.rules li {
  font-size: 20px;
  margin-bottom: 15px;
}
.mean_block--footer {
  padding: 30px 30px 30px 30px;
}
.mean_block--footer a {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background: repeating-conic-gradient(
    from var(--a),
    #29730c 0%,
    #29730c 10%,
    transparent 5%,
    transparent 35%,
    #29730c 50%
  );
  text-decoration: none;
  animation: animate 3s linear infinite;
  /* animation: jump-shaking 2s linear infinite; */
  border-radius: 999px;
  transition: all 0.3s ease-in;
}
.mean_block--footer a:hover {
  transform: scale(1.1);
}

.mean_block--footer a::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: #46465bff;
  border-radius: 999px;
}
@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}
@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(7deg);
  }
  55% {
    transform: translateY(-9px) rotate(-7deg);
  }
  65% {
    transform: translateY(-9px) rotate(7deg);
  }
  75% {
    transform: translateY(-9px) rotate(-7deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.mean_block--footer svg {
  color: rgb(50, 170, 221);
  width: 20px;
  height: 20px;
  z-index: 100;
}
.mean_block--footer p {
  z-index: 100;
  font-size: 26px;
  flex: 1;
  margin: 0 86px 0 102px;
  color: rgb(50, 170, 221);
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 900px) {
  .title {
    font-size: 50px;
  }
  .mean {
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 36px;
  }
  .mean {
    margin-top: 40px;
    padding: 0 20px;
  }
  .title_little {
    font-size: 20px;
    text-align: center;
  }
  .rules h2 {
    font-size: 24px;
  }
  .rules li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .mean_block--footer p {
    font-size: 20px;
    margin: 0 57px 0 70px;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .mean_block--footer p {
    font-size: 20px;
    margin: 0 28px 0 59px;
  }
  .mean {
    margin-top: 20px;
  }
  .title_little {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 415px) {
  .mean_block--footer {
    padding: 10px;
  }
}

@media (max-width: 380px) {
  .title {
    font-size: 25px;
  }
  .rules h2 {
    font-size: 20px;
  }
  .rules {
    padding: 15px;
  }
  .mean_block--footer p {
    margin: 0 15px 0 55px;
  }
  .mean_block--footer {
    padding: 10px;
  }
}
